@import "compass/reset";
@import "variables";
@import "mixins";

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  color: #fff
}
.float-left {
  @include float-left()
}
.float-right {
  @include float-right()
}
.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

   .calculator {
    flex-flow: row wrap;
    justify-content: space-around;
    width: auto;
    border: $colorBlack;

    button {
      font-size: 0.7em;
      background: transparent;
      border: 0;
      color: #fff;
      cursor: pointer;
      padding: 15px;
    }

    .result {
      padding: 43px 30px 0 0;
      height: 130px;
      background: $colorResultBox;
      flex-direction: row;
      text-align: right;

      .user_input {
        input {
          color: #ccc;
          font-size: 1.25em;
          @include inputFlds();
          margin-bottom: -5px;   
        }

        &:nth-child(2) input {
          width: 35px;
        }

      }
      .user_summary {
          input {
            color: #fff;
            font-size: 2.3em;
            @include inputFlds()
          }
      }
    }

    .item {
      @include flex();
      background: $itemColor;
      width: $itemWidth;
      height: $itemHeight;
      color: white;
      font-size: 15px;
      text-align: center;

      @include border-bottom-1px()
    }
    .row {
      .buttons{
        @include float-left();
        @include flex();
        height: $itemHeight;
        text-align: center;
        background: $colorButtonsACSAVE;
        @include border-bottom-1px();
      }
      #ac_bttn {
        width: 90px;
      }
      #save_bttn {
        width: 102px;
      }
      .item {
        @include float-left();
      }
      .bttn {
        float: right;
        width: $itemWidth;
        height: $itemHeight;
        background-color: $colorNuttonsMathOper;
        text-align: center;
        @include border-bottom-1px();
        @include flex();
      }
      &:after {
        clear: both;
      }
    }
  }
}
