@import "compass/reset";

$color-result-box: rgba(41, 54, 59, 1);
$color-buttons-ACSAVE: rgba(236, 71, 92, 1);
$color-buttons-MathOper:  rgba(219, 181, 116, 1);
$itemColor: rgba(214, 117, 117, 1);
$color-black: rgba(0, 0, 0, 1);
$color-grey: rgba(99, 94, 94, 1);
$itemWidth: 64px;
$itemHeight: $itemWidth;


@mixin border-bottom-1px {
  border-bottom: 1px solid $color-grey;
}

@mixin float-left {
  float: left;  
}
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin inputFlds {
  background: transparent;
  border: 0;
  width: 170px;
  text-align: right;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  color: #fff
}
.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

   .calculator {
    flex-flow: row wrap;
    justify-content: space-around;
    width: auto;
    border: $color-black;

    button {
      font-size: 0.7em;
      background: transparent;
      border: 0;
      color: #fff;
      cursor: pointer;
      padding: 15px;
    }

    .result {
      padding: 43px 30px 0 0;
      height: 130px;
      background: $color-result-box;
      flex-direction: row;
      text-align: right;

      .user_input {
        input {
          color: #ccc;
          font-size: 1.25em;
          @include inputFlds();
          margin-bottom: -5px;   
        }
      }
      .user_summary {
          input {
            color: #fff;
            font-size: 2.3em;
            @include inputFlds()
          }
      }
    }

    .item {
      @include flex();
      background: $itemColor;
      width: $itemWidth;
      height: $itemHeight;
      color: white;
      font-size: 15px;
      text-align: center;

      @include border-bottom-1px()
    }
    .row {
      .buttons{
        @include float-left();
        @include flex();
        height: $itemHeight;
        text-align: center;
        background: $color-buttons-ACSAVE;
        @include border-bottom-1px();
      }
      #ac_bttn {
        width: 90px;
      }
      #save_bttn {
        width: 102px;
      }
      .item {
        @include float-left();
      }
      .bttn {
        float: right;
        width: $itemWidth;
        height: $itemHeight;
        background-color: $color-buttons-MathOper;
        text-align: center;
        @include border-bottom-1px();
        @include flex();
      }
      .ac_save_butttons {
        background : green;
      }
      &:after {
        clear: both;
      }
    }
  }
}
