@import "compass/reset";

$color-black: rgba(0, 0, 0, 1);

@mixin border-1px {
  border: 1px solid $color-black
}

@mixin float-left {
  float: left;  
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: auto;
  border: $color-black;
  @include border-1px();

  .item {
    background: tomato;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 15px;
    text-align: center;
  }
  
  .row {
    .item {
      @include float-left()
    }
    .bttn {
      float: right;
      width: 40px;
      height: 40px;
      background-color: red;
    }
    .ac_save_butttons {
      background : green;
    }
    &:after {
      clear: both;
    }
  }
}

