$colorResultBox: rgba(41, 54, 59, 1);
$colorButtonsACSAVE: rgba(236, 71, 92, 1);
$colorNuttonsMathOper:  rgba(219, 181, 116, 1);
$itemColor: rgba(214, 117, 117, 1);
$colorBlack: rgba(0, 0, 0, 1);
$colorGrey: rgba(99, 94, 94, 1);
$itemWidth: 64px;
$itemHeight: $itemWidth;
