html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  color: #fff;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .calculator {
  flex-flow: row wrap;
  justify-content: space-around;
  width: auto;
  border: black;
}
.container .calculator button {
  font-size: 0.7em;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 15px;
}
.container .calculator .result {
  padding: 43px 30px 0 0;
  height: 130px;
  background: #29363b;
  flex-direction: row;
  text-align: right;
}
.container .calculator .result .user_input input {
  color: #ccc;
  font-size: 1.25em;
  background: transparent;
  border: 0;
  width: 170px;
  text-align: right;
  margin-bottom: -5px;
  width: 50px;
}
.container .calculator .result .user_input:nth-child(2) input {
  width: 35px;
}
.container .calculator .result .user_summary input {
  color: #fff;
  font-size: 2.3em;
  background: transparent;
  border: 0;
  width: 170px;
  text-align: right;
}
.container .calculator .item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d67575;
  width: 64px;
  height: 64px;
  color: white;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #635e5e;
}
.container .calculator .row .buttons {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  text-align: center;
  background: #ec475c;
  border-bottom: 1px solid #635e5e;
}
.container .calculator .row #ac_bttn {
  width: 90px;
}
.container .calculator .row #save_bttn {
  width: 102px;
}
.container .calculator .row .item {
  float: left;
}
.container .calculator .row .bttn {
  float: right;
  width: 64px;
  height: 64px;
  background-color: #dbb574;
  text-align: center;
  border-bottom: 1px solid #635e5e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .calculator .row:after {
  clear: both;
}
